
.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4rem;
    width: 100%;
    background: rgb(59, 103, 151);
    background: linear-gradient(
        0deg,
        rgba(59, 103, 151, 1) 0%,
        rgba(59, 103, 151, 1) 40%,
        rgba(86, 117, 152, 1) 100%
    );
}


.expand-form-btn {
    position: relative;
    left: 100px;
    padding: 0.55rem 1rem;
}